﻿<div id="template_login_block">
    <div class="close"><a href="#" class="close"></a></div>
    <form>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Логин</th>
            </tr>
            <tr>
                <td><input type="text" class="input-text" /></td>
            </tr>
            <tr>
                <th>Пароль</th>
            </tr>
            <tr>
                <td><input type="password" class="input-text" /></td>
            </tr>
        </table>
        <input type="submit" class="input-button rounded" value="Войти" />
        <br />
        <br />
    </form>
</div>

<div id="template_detail_gift">
    <div class="close"><a href="#" class="close"></a></div>
    <div class="inline">
        <div class="column image-block"><img src="_design/images/gift.gif" width="184" /></div>
        <div class="column detail-block">
            <h2>Сертификаты "Л'Этуаль"</h2>
            <p>Только вы знаете, что ей нужно 8 марта, но только он сама снова должна это выбрать для себя...</p>
            <p>Вы в шаговой доступности от потрясающих скидок и бонусов. Воспользуйтесь возможностью выбора собственных привелегий.</p>
            <div class="column">
                <span>Определитесь со стоимостью и количеством сертификатов</span>
                <select>
                    <option value="300">300 рублей</option>
                    <option value="500">500 рублей</option>
                    <option value="1000">1000 рублей</option>
                </select>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="-1">Ввести</option>
                </select>
            </div>
            <div class="column order-button">
                <span><br/><br/></span>
                <a href="#" class="order-button rounded">Купить</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="other-proposal rounded-bot">
    	<h3 class="title">Вам также могут быть интересны</h3>
        <div class="gift-items table">
            <div class="row">
                <div class="column lf-column inline">
                    <div class="column">
                        <div class="thumb"><img src="_design/images/gift.gif" width="184" /></div>
                    </div>
                    <div class="column info">
                        <h3><a href="#">Сертификат "Л'Этуаль"</a></h3>
                        <p>Только вы знаете, что ей нужно 8 марта. Но только она сама снова должна это выбрать для себя...</p>
                        <a href="#" class="detail" onclick="showDetailPopup(1);return false;">Подробнее</a><br />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="column rt-column inline">
                    <div class="column">
                        <div class="thumb"><img src="_design/images/gift.gif" width="184" /></div>
                    </div>
                    <div class="column info">
                        <h3><a href="#">Сертификат "Л'Этуаль"</a></h3>
                        <p>Только вы знаете, что ей нужно 8 марта. Но только она сама снова должна это выбрать для себя...</p>
                        <a href="#" class="detail" onclick="showDetailPopup(2);return false;">Подробнее</a><br />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>