﻿@import url(../fonts/DlCyLtTf/fonts.css);/*300*/
@import url(../fonts/DlCyRgTf/fonts.css);/*400*/
@import url(../fonts/DlCyBdTf/fonts.css);/*600*/

/**[RULES: Fundamental ]--------------*/

*
	{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 100%;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
input:active,
input:focus
	{
	outline: none;
	}

html,
body
	{
	min-height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	background: #000000;
	}

th,
td
	{
	padding: 0px 0px 0px 0px;
	vertical-align: top;
	}

a img
	{
	border: 0px none;
	}

p,
h1,
h2,
h3,
h4,
h5,
h6
	{
	margin: 0;
	}

input.button,
input.checkbox,
label
	{
	cursor: pointer;
	}

/**[/RULES]---------------------------*/



/**[RULES: Common use ]---------------*/

body, 
td, 
th, 
input, 
select, 
textarea
	{
	font-family: Trebuchet MS, Daxline, Arial, helvetica, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	color: #000000;
	}
    
p
	{
	margin: 0px 0px 14px 0px;
	}
    
form
	{
	margin: 0px;
	padding: 0px;
	}

ul,
ul li
	{
	padding: 0;
	margin: 0;
    list-style-type: none;
	list-style-position: outside;
	}

textarea
	{
	padding: 0px 8px;
	overflow: auto;
	border: 0px;
	}
	
h3 
    {
	font-size: 18px;
	color: #ffffff;
    }
    
h4 
    {
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
    }

/**[/RULES]---------------------------*/
	
/**[RULES: Form elements ]---------------*/    

label.checkbox
	{
	position: relative;
	padding: 0;
	white-space: nowrap;
	line-height: 20px;
	color: #ffffff;
	-moz-text-shadow: 0px 1px 0px #232323;
	-webkit-text-shadow: 0px 1px 0px #232323;
	text-shadow: 0px 1px 0px #404040;
	background: url(../img/fields/checkbox.png) left center no-repeat;
	}

    label.clicked-label
        {
        background: url(../img/fields/checkbox_clicked.png) left center no-repeat;
        }

label.checkbox input
	{
	overflow: hidden;
	opacity: 0.01;
	filter: alpha(opacity=1);
	}
	
	label.empty
		{
		line-height: 20px;
		padding: 0 0 0 21px;
		text-shadow: 0 1px 0 #404040;
		}
	
label.radio
	{
	display: inline-block;
	height: 20px;
	position: relative;
	padding: 0;
	white-space: nowrap;
	color: #ffffff;
	text-shadow: 0px 1px 0px #404040;
	-moz-text-shadow: 0px 1px 0px #232323;
	-webkit-text-shadow: 0px 1px 0px #232323;
	background: url(../img/fields/radio.png) left center no-repeat;
	margin-right: 20px;
	}

    label.radio-checked
        {
        background: url(../img/fields/radio_selected.png) left center no-repeat;
        }

    label.radio input
        {
        width: 16px;
        margin: 2px 8px 0px 0px;
        overflow: hidden;
        opacity: 0.01;
        filter: alpha(opacity=1);
        }
            
input.input-text
	{
	width: 125px;
	height: 28px;
	padding: 3px 2px 0;
	margin: 0px;
	background: url(../img/fields/text.gif) left top repeat-x;
	border: 0px;
	color: #374638;
	line-height: 22px;
	}

textarea 
    {
	box-shadow: 0 1px 0 0 #9ca49d;
	border-radius: 4px;
	border: 1px solid #313a32;
	color: #374638;
	background: #fff;
	width: 172px;
    padding: 3px 0 0 3px;
    }


.select 
    {
	height: 30px;
	display: inline-block;
    position: relative;
	text-align: left;
	border: 1px solid #dcdcdc;
	background: url(../img/fields/text.gif) left bottom repeat-x;
    }
    
    .select .title 
        {
		/*padding-right: 21px;*/
        background: url(../img/fields/select_arr.gif) right bottom no-repeat;
        height: 28px;
        min-width: 50px;
        }
       
        .select .title_block 
            {
            height: 28px;
            padding: 0px 18px 0px 6px;
			line-height: 28px;
			cursor: pointer;
			font-weight: 700;
			font-size: 14px;
			color: #000000;
			text-transform: uppercase;
            }
       
        .disabled .title_block,
        .select .selected_value
            {
			color: #aeaeae;
			}
       
        .disabled .title_block img
            {
			margin-bottom: -3px;
			}
           
    .select .options 
        {
        background: #ffffff;
        color: #374638;
        border: 1px solid #dadada;
        border-top: 0;
        position: absolute;
        top: 28px;
        left: -1px;
        z-index: 100;
        }
           
    .select .options div.option
        {
		height: 20px;
		padding: 0px 6px;
		line-height: 20px;
		cursor: pointer;
		font-weight: 900;
		font-size: 13px;
		}
           
    .select .options div.current
        {
		/*background: #e1e1e1;*/
		background: #f6f3ff;
		}
           
    .select .options  div.select-scrolled
        {
		height: 200px;
		overflow: auto;
		}