﻿/**[RULES: Layout & Positioning ]-----*/

body
	{
	min-height: 100%;
	background: #535252;
	}
		
	div.clear
		{
		clear: both;
		}
		
	span.starter
		{
		float: left;
		margin: 0px 0px 0px 0px;
		height: 0px;
		overflow: hidden;
		}
	
.table
	{
	height: 1px;
	display: table;
	}
	
    .table .row
        {
        height: 100%;
        display: table-row;
        }
	
        .table .row .column
            {
            display: table-cell;
            float: none;
            vertical-align: top;
            }
            
            .table .row .column td.without-padding 
                {
                padding: 0 0 20px;
                }
                
            .table .row .column .inline .column
                {
                float: left;
                }

.inline,
.rt-inline
	{
	}

	.inline div.column
		{
		float: left;
		}

	.rt-inline div.column
		{
		float: right;
		}
    
/**[RULES: Total rules]---------------------------*/

.rounded
	{
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	}
	
.rounded-top
	{
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-o-border-radius: 8px 8px 0px 0px;
	}

.rounded-bot
	{
	border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	-o-border-radius: 0px 0px 8px 8px;
	}
	
.rounded-lf
	{
	border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-o-border-radius: 8px 0px 0px 8px;
	}	
	
.rounded-rt
	{
	border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	-o-border-radius: 0px 8px 8px 0px;
	}
    
.rounded-b-l 
    {
	border-radius: 0 0px 0px 8px;
	-webkit-border-radius: 0 0px 0px 8px;
	-moz-border-radius: 0 0px 0px 8px;
	-o-border-radius: 0 0px 0px 8px;
    }
    
.rounded-b-r 
    {
	border-radius: 0px 0 8px 0px;
	-webkit-border-radius: 0px 0 8px 0px;
	-moz-border-radius: 0px 0 8px 0px;
	-o-border-radius: 0px 0 8px 0px;
    }
			
a.order-button,
a.order-button:hover,
a.order-button:visited
	{
	display: inline-block;
	height: 36px;
	padding: 0px 15px;
	line-height: 36px;
	color: #ffffff;
	background: url(../img/but/offer_but.gif) left top repeat-x;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	}  
	
/*------[RULES: PnMn]-----*/

div#Body
	{
	width: 1115px;
	height: 100%;
	position: relative;
	margin: 0px auto 0px auto;
	text-align: center;
	}
    
/*------[RULES: PnMn]-----*/

div#PnMn
	{
	height: auto;
	text-align: left;
	}	
    
	/*------[RULES: PnLf]-----*/

	div#PnMn div#PnLf
		{
		width: 235px;
		padding-top: 70px;
		background: url(../img/bg/lf_side_bg.gif) left top repeat;/*#06252e*/
		border-right: 3px solid #083948;
		border-top: 1px solid #083948;
		}

		div#PnMn div#PnLf div.lf-block
			{
			width: 232px;
			padding: 20px;
			margin: 0px;
			}

			div#PnMn div#PnLf div.lf-block h3
				{
				margin: 0px 0px 20px 0px;
				font-size: 19px;
				font-weight: normal;
				text-transform: uppercase;
				}
	
			div#PnMn div#PnLf div.lf-block div.text
				{
				margin: 0px 0px 18px 0px;
				}
	
			div#PnMn div#PnLf div.lf-block p
				{
				color: #ffffff;
				font-size: 14px;
				line-height: 16px;
				}
	
			div#PnMn div#PnLf div.lf-block p.date
				{
				margin: 0px 0px 5px 0px;
				color: #f0b500;
				font-size: 12px;
				}
	
		div#PnMn div#PnLf div.violet-block
			{
			height: 214px;
			background: url(../img/elem/violet_block.png) left top no-repeat;
			}
	
		div#PnMn div#PnLf div.green-block
			{
			background: url(../img/elem/green_block.png) left top no-repeat;
			}
    
	/*------[RULES: PnRt]-----*/
	
	div#PnMn div#PnRt
		{
		width: 880px;
		background: #fdfdfd;
		border: 1px solid #d2d2d2;
		}
	
		div#PnMn div#PnRt div#PnTopBlock
			{
			padding-top: 30px;
			text-align: left;
			}
		
			div#PnMn div#PnRt div#PnTopBlock div.socials
				{
				width: 295px;
				padding: 40px 0px 0px 30px;
				}
			
			div#PnMn div#PnRt div#PnTopBlock div.quote
				{
				width: 380px;
				height: 100px;
				padding-top: 40px;
				font-style: italic;
				}
			
				div#PnMn div#PnRt div#PnTopBlock div.quote h2
					{
					margin-bottom: 17px;
					color: #42066d;
					font-size: 18px;
					line-height: 20px;
					}
			
				div#PnMn div#PnRt div#PnTopBlock div.quote span
					{
					color: #606060;
					font-size: 12px;
					}
			
			div#PnMn div#PnRt div#PnTopBlock div.login-block
				{
				width: 202px;
				padding: 0px 0px  0px 20px;
				}
			
			div#PnMn div#PnRt div#PnTopBlock div.login-block div.links
				{
				margin-bottom: 24px;
				}
			
				div#PnMn div#PnRt div#PnTopBlock div.login-block div.links a,
				div#PnMn div#PnRt div#PnTopBlock div.login-block div.links a:hover,
				div#PnMn div#PnRt div#PnTopBlock div.login-block div.links a:visited
					{
					float: left; clear: left;
					margin: 0px 0px 7px 0px;
					color: #555555;
					}
			
			div#PnMn div#PnRt div#PnTopBlock div.login-block div.cart
				{
				font-size: 11px;
				}
			
				div#PnMn div#PnRt div#PnTopBlock div.login-block div.cart div.column
					{
					width: 70px;
					color: #555555;
					}
			
				div#PnMn div#PnRt div#PnTopBlock div.login-block div.cart div.counter
					{
					width: 110px;
					line-height: 13px;
					text-transform: uppercase;
					color: #8a8a8a;
					}
			
				div#PnMn div#PnRt div#PnTopBlock div.login-block div.cart div.counter b
					{
					color: #000000;
					}
			
				div#PnMn div#PnRt div#PnTopBlock div.menu
					{
					height: 53px;
					padding: 14px 15px 8px 46px;
					background: url(../img/bg/menu_bg.gif) left top repeat-x;
					}
			
					div#PnMn div#PnRt div#PnTopBlock div.menu li
						{
						height: 25px;
						}
				
						div#PnMn div#PnRt div#PnTopBlock div.menu li a,
						div#PnMn div#PnRt div#PnTopBlock div.menu li a:hover,
						div#PnMn div#PnRt div#PnTopBlock div.menu li a:visited
							{
							display: inline-block;
							height: 25px;
							padding: 4px 10px 0px 10px;
							color: #747474;
							font-size: 16px;
							text-decoration: none;
							}
				
					div#PnMn div#PnRt div#PnTopBlock div.menu li.current
						{
						background: url(../img/bg/cur_menu_li_bg.png) left top repeat-x;
						border-radius: 8px;
						-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
						-o-border-radius: 8px;
						}
				
						div#PnMn div#PnRt div#PnTopBlock div.menu li.current a,
						div#PnMn div#PnRt div#PnTopBlock div.menu li.current a:hover,
						div#PnMn div#PnRt div#PnTopBlock div.menu li.current a:visited
							{
							padding: 4px 22px 0px 22px;
							color: #ffffff;
							background: url(../img/bg/cur_menu_bg.png) right top no-repeat;
							border-radius: 8px;
							-webkit-border-radius: 8px;
							-moz-border-radius: 8px;
							-o-border-radius: 8px;
							}
			
			div#PnMn div#PnRt div#PnTopBlock div.small-filter
				{
				height: 54px;
				padding: 12px 20px 0px 66px;
				background: url(../img/bg/small_filter_bg.gif) left top repeat-x;
				}
			
			div#PnMn div#PnRt div#PnTopBlock div.small-filter span.separator
				{
				display: inline-block;
				width: 10px;
				}
			
			div#PnMn div#PnRt div#PnTopBlock div.small-filter label
				{
				margin-right: 10px;
				cursor: default;
				}
			
			div#PnMn div#PnRt div#PnTopBlock div.small-filter input.input-button
				{
				height: 28px;
				padding: 0px 10px;
				margin: 0px;
				line-height: 28px;
				background: url(../img/but/search_but.gif) left top repeat-x;
				color: #ffffff;
				border: 0px;
				cursor: pointer;
				vertical-align: bottom;
				}
        
/**[RULES: PnTop]----------------*/

div#PnTop
	{
	height: 76px;
	background: url(../img/bg/pntop_bg.png) left top repeat-x;
	}

/**[RULES: PnBot]---------------------------*/

div#PnBot
	{
	height: 111px;
	}

	div#PnBot div.links
		{
		padding: 22px 0px 0px 0px;
		text-align: left;
		}

	div#PnBot div.links a,
	div#PnBot div.links a:hover,
	div#PnBot div.links a:visited
		{
		margin-right: 36px;
		color: #9a9a9a;
		text-decoration: underline;
		font-size: 13px;
		}

	div#PnBot div.links a.right,
	div#PnBot div.links a.right:hover,
	div#PnBot div.links a.right:visited
		{
		float: right;
		margin-right: 0px;
		}
		
/*---- [RULES: popup] ----*/

div.popupVual
	{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #d2d2d2;
	opacity: 0.6;
	}
    
div.popup
	{
	width: 450px;
	padding: 10px 9px 0px 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /*box-shadow: 1px 2px 5px 1px #000;*/
	z-index: 100;
	text-align: left;
	}
    
	div.popup div.buttons
		{
		height: 52px;
		padding: 15px 0px 0px 0px;
		border-radius: 0px 0px 8px 8px;
		-webkit-border-radius: 0px 0px 8px 8px;
		-moz-border-radius: 0px 0px 8px 8px;
		-o-border-radius: 0px 0px 8px 8px;
		background: url(../img/bg/popup_buttons_bg.gif) left bottom repeat-x;
		text-align: center;
		font-size: 15PX;
		}
    
	div.popup div.buttons div.button,
	div.popup div.buttons a.button,
	div.popup div.buttons a.button:hover,
	div.popup div.buttons a.button:visited
		{
		display: inline-block;
		text-decoration: underline;
		color: #ffffff;
		}

	div.popup div.close
		{
		text-align: right;
		}

	div.popup div.close a,
	div.popup div.close a:hover,
	div.popup div.close a:visited
		{
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url(../img/but/close.gif) left top no-repeat;
		}

/*------ [RULES: custom rules] ------*/

div#PnCn
	{
	padding: 30px 30px;
	}
	
div#PnCn h1
	{
	margin-bottom: 15px;
	font-size: 31px;
	font-weight: normal;
	}﻿
	
	div.gift-items
		{
		width: 818px;
		}
		
		div.gift-items div.column
			{
			width: 409px;
			overflow: hidden;
			}
		
		div.gift-items div.lf-column
			{
			padding: 31px 0px 34px 0px;
			border-bottom: 2px solid #d4d4d4;
			border-right: 1px solid #ffffff;
			background: #f2f3f5 url(../img/bg/item_bg.gif) left top repeat-x;
			}
		
		div.gift-items div.rt-column
			{
			padding: 31px 0px 34px 0px;
			border-bottom: 2px solid #d4d4d4;
			border-left: 1px solid #ffffff;
			background: #f2f3f5 url(../img/bg/item_bg.gif) left top repeat-x;
			}
		
		div.gift-items div.last-row div.column
			{
			border-bottom: 0px;
			}
			
			div.gift-items div.column div.thumb
				{
				padding: 0px 0px 7px 18px;
				margin: 0px 0px 3px 0px;
				}
			
			div.gift-items div.column div.price
				{
				padding-left: 17px;
				font-size: 18px;
				text-transform: uppercase;
				}
				
				div.gift-items div.column div.price span.nominal
					{
					font-size: 40px;
					font-weight: bold;
					letter-spacing: -2px;
					}
			
			div.gift-items div.column div.column
				{
				width: 233px;
				}
				
			div.gift-items div.column div.info
				{
				width: 175px;
				}
				
				div.gift-items div.column div.info h3
					{
					font-size: 15px;
					font-weight: normal;
					margin-bottom: 10px;
					}
				
					div.gift-items div.column div.info h3 a,
					div.gift-items div.column div.info h3 a:hover,
					div.gift-items div.column div.info h3 a:visited
						{
						color: #010101;
						}
				
				div.gift-items div.column div.info p
					{
					color: #828284;
					font-size: 12px;
					}
					
				div.gift-items div.column div.info a.detail,
				div.gift-items div.column div.info a.detail:hover,
				div.gift-items div.column div.info a.detail:visited
					{
					display: inline-block;
					margin-bottom: 20px;
					color: #7a89ce;
					font-size: 12px;
					}
					
/*---- [RULES: loginPopup] ----*/

div#loginPopup
	{
	}

	div#loginPopup table
		{
		width: 231px;
		margin: 0px 0px 10px 60px;
		}
	
		div#loginPopup table th
			{
			padding: 5px 0px 6px;
			color: #212121;
			font-weight: normal;
			}
		
		div#loginPopup table td
			{
			padding: 5px 0px 6px;
			}
		
		div#loginPopup table td input.input-text
			{
			width: 231px;
			}
		
		div#loginPopup input.input-button
			{
			height: 36px;
			padding: 0 15px;
			margin-left: 60px;
			color: #FFFFFF;
			background: url("../img/but/offer_but.gif") repeat-x scroll left top transparent;
			line-height: 36px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			border: none;
			}

	div#loginPopup div.buttons
		{
		margin-right: -9px;
		}
					
/*---- [RULES: loginPopup] ----*/

div#giftItemDetail
	{
	width: 700px;
	}

div#giftItemDetail div.image-block
	{
	width: 330px;
	padding: 20px 0px 20px 50px;
	}

div#giftItemDetail div.detail-block
	{
	width: 325px;
	padding: 20px 0px 20px 0px;
	}

div#giftItemDetail div.detail-block div.column
	{
	width: 205px;
	padding: 10px 0px 0px 0px;
	}

div#giftItemDetail h2
	{
	margin: 0px 0px 35px 0px;
	color: #672d91;
	font-size: 26px;
	}

div#giftItemDetail div.detail-block p
	{
	color: #454545;
	font-size: 14px;
	}

div#giftItemDetail div.detail-block div.order-button
	{
	width: 120px;
	padding-left: 5px;
	}

div#giftItemDetail div.detail-block div.column span
	{
	display: block;
	padding-right: 20px;
	margin: 0px 0px 12px 0px;
	color: #950298;
	}

div#giftItemDetail div.detail-block div.column div.select
	{
	margin-bottom: 9px;
	}

div#giftItemDetail div.other-proposal
	{
	padding: 20px 0px 0px 0px;
	margin-right: -9px;
	background: url("../img/bg/item_bg.gif") repeat-x scroll left top #F2F3F5;
	border-top: 1px solid #e3e3e3;
	}

div#giftItemDetail div.other-proposal h3
	{
	color: #960298;
	font-size: 16px;
	font-weight: normal;
	}

div#giftItemDetail div.other-proposal h3.title
	{
	margin: 0px 0px 0px 20px;
	}

div#giftItemDetail div.gift-items
	{
	}

div#giftItemDetail div.gift-items div.column
	{
	width: 350px;
	padding-bottom: 0px;
	border: 0px;
	background: none;
	}
		
		
					

