﻿div#PnCn
	{
	padding: 30px 30px;
	}
	
div#PnCn h1
	{
	margin-bottom: 15px;
	font-size: 31px;
	font-weight: normal;
	}﻿
	
	div.gift-items
		{
		width: 818px;
		}
		
		div.gift-items div.column
			{
			width: 409px;
			overflow: hidden;
			}
		
		div.gift-items div.lf-column
			{
			padding: 31px 0px 34px 0px;
			border-bottom: 2px solid #d4d4d4;
			border-right: 1px solid #ffffff;
			background: #f2f3f5 url(../img/bg/item_bg.gif) left top repeat-x;
			}
		
		div.gift-items div.rt-column
			{
			padding: 31px 0px 34px 0px;
			border-bottom: 2px solid #d4d4d4;
			border-left: 1px solid #ffffff;
			background: #f2f3f5 url(../img/bg/item_bg.gif) left top repeat-x;
			}
		
		div.gift-items div.last-row div.column
			{
			border-bottom: 0px;
			}
			
			div.gift-items div.column div.thumb
				{
				padding: 0px 0px 7px 18px;
				margin: 0px 0px 3px 0px;
				}
			
			div.gift-items div.column div.price
				{
				padding-left: 17px;
				font-size: 18px;
				text-transform: uppercase;
				}
				
				div.gift-items div.column div.price span.nominal
					{
					font-size: 40px;
					font-weight: bold;
					letter-spacing: -2px;
					}
			
			div.gift-items div.column div.column
				{
				width: 233px;
				}
				
			div.gift-items div.column div.info
				{
				width: 175px;
				}
				
				div.gift-items div.column div.info h3
					{
					font-size: 15px;
					font-weight: normal;
					margin-bottom: 10px;
					}
				
					div.gift-items div.column div.info h3 a,
					div.gift-items div.column div.info h3 a:hover,
					div.gift-items div.column div.info h3 a:visited
						{
						color: #010101;
						}
				
				div.gift-items div.column div.info p
					{
					color: #828284;
					font-size: 12px;
					}
					
				div.gift-items div.column div.info a.detail,
				div.gift-items div.column div.info a.detail:hover,
				div.gift-items div.column div.info a.detail:visited
					{
					display: inline-block;
					margin-bottom: 20px;
					color: #7a89ce;
					font-size: 12px;
					}
					
/*---- [RULES: loginPopup] ----*/

div#loginPopup
	{
	}

	div#loginPopup table
		{
		width: 231px;
		margin: 0px 0px 10px 60px;
		}
	
		div#loginPopup table th
			{
			padding: 5px 0px 6px;
			color: #212121;
			font-weight: normal;
			}
		
		div#loginPopup table td
			{
			padding: 5px 0px 6px;
			}
		
		div#loginPopup table td input.input-text
			{
			width: 231px;
			}
		
		div#loginPopup input.input-button
			{
			height: 36px;
			padding: 0 15px;
			margin-left: 60px;
			color: #FFFFFF;
			background: url("../img/but/offer_but.gif") repeat-x scroll left top transparent;
			line-height: 36px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			border: none;
			}

	div#loginPopup div.buttons
		{
		margin-right: -9px;
		}
					
/*---- [RULES: loginPopup] ----*/

div#giftItemDetail
	{
	width: 700px;
	}

div#giftItemDetail div.image-block
	{
	width: 330px;
	padding: 20px 0px 20px 50px;
	}

div#giftItemDetail div.detail-block
	{
	width: 325px;
	padding: 20px 0px 20px 0px;
	}

div#giftItemDetail div.detail-block div.column
	{
	width: 205px;
	padding: 10px 0px 0px 0px;
	}

div#giftItemDetail h2
	{
	margin: 0px 0px 35px 0px;
	color: #672d91;
	font-size: 26px;
	}

div#giftItemDetail div.detail-block p
	{
	color: #454545;
	font-size: 14px;
	}

div#giftItemDetail div.detail-block div.order-button
	{
	width: 120px;
	padding-left: 5px;
	}

div#giftItemDetail div.detail-block div.column span
	{
	display: block;
	padding-right: 20px;
	margin: 0px 0px 12px 0px;
	color: #950298;
	}

div#giftItemDetail div.detail-block div.column div.select
	{
	margin-bottom: 9px;
	}

div#giftItemDetail div.other-proposal
	{
	padding: 20px 0px 0px 0px;
	margin-right: -9px;
	background: url("../img/bg/item_bg.gif") repeat-x scroll left top #F2F3F5;
	border-top: 1px solid #e3e3e3;
	}

div#giftItemDetail div.other-proposal h3
	{
	color: #960298;
	font-size: 16px;
	font-weight: normal;
	}

div#giftItemDetail div.other-proposal h3.title
	{
	margin: 0px 0px 0px 20px;
	}

div#giftItemDetail div.gift-items
	{
	}

div#giftItemDetail div.gift-items div.column
	{
	width: 350px;
	padding-bottom: 0px;
	border: 0px;
	background: none;
	}
		
		
					