ul.yiiPager {
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 100%;
    display: inline;
}

ul.yiiPager li {
    display: inline;
    border-radius: none;

}

ul.yiiPager li a {

    border-radius: 0px;
    margin: 10px 3px 10px 2px;

}

ul.yiiPager a:link,
ul.yiiPager a:visited {
    border: solid 1px #9aafe5;
    font-weight: bold;
    color: #0e509e;
    padding: 1px 10px 1px 10px;
    text-decoration: none;
}

ul.yiiPager .page a {
    font-weight: normal;
}

ul.yiiPager a:hover {
    border: solid 1px #0e509e;
}

ul.yiiPager .selected a {
    background: #2e6ab1;
    color: #FFFFFF;
    font-weight: bold;
}

ul.yiiPager .hidden a {
    border: solid 1px #DEDEDE;
    color: #888888;
}

ul.yiiPager .first,
ul.yiiPager .last {
    display: none;
}